html, body{
    background-color: #f1f6f6;
    font-size: 4px;
}

header{
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.Colegio__1{
    float: left;
    margin-left: 8rem;
}

.colegio{
    color: #00a09b;
    font-family: sans-serif;
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    padding-top: 8rem;
}

.Libros__Electronicos{
    float: left;
    margin-left: 8rem;
}

.LB{
    color: #bdbdbd;
    font-family: "sans-serif";
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.34rem;
}

.Contras__pag{
    float: right;
    margin-right: 12rem;
    margin-top: 4rem;
    border-right: #E8E3E2;
    border-right-style: inset;
    border-right-width: thin;
    border-left: #E8E3E2;
    border-left-style: outset;
    border-left-width: thin;
}

.contras{
    color: #00c4c0;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    text-transform: uppercase;
    margin-top: 8rem ;
    padding-left: 1rem;
    padding-right: 8rem;

    position: relative;
    bottom: 4rem;
}

.Nommbre__John{
    float: right;
    margin-right: 8rem;
    margin-top: 8rem;
}

.John{
    color: #00a09b;
    font-family: "sans-serif";
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    padding-right: 1rem;
}

/* Nav Bar*/

/*BODY*/
h2{
    padding-bottom: -30px;
    font-family: sans-serif;
    color: #E8E3E2;
    font-size: small;
    padding-left: 20px;
    padding-top: 35px;
}


.Grados{
    background-color: white;
    width: 190px;
    height: 370px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 5px 10px #888888;
    padding-bottom: 80px;

}

.grados__text{
    width: 190px;
    height: 270px;
    padding-bottom: 80px;
}

.grados__text ul li{
    display: block;
    font-family: sans-serif;
    font-size: medium;
    padding-top: 25px;
    padding-left: 10px;
    text-decoration: underline;
}

.

.agregar__text{
    background-color: red;
    height: 100px;
    width: 190px;
}

.agregar__text ul li{
    background-color: red;
    width: 190px;
    height: 100px;
}

