html, body{
    background-color: #f1f6f6;
    font-size: 4px;
}

header{
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.Colegio__1{
    float: left;
    margin-left: 8rem;
}

.Libros__Electronicos{
    float: left;
    margin-left: 8rem;
}


.colegio{
    color: #00a09b;
    font-family: sans-serif;
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    padding-top: 8rem;
}

.Contras__pag{
    float: right;
    margin-right: 12rem;
    margin-top: 4rem;
    border-right: #E8E3E2;
    border-right-style: inset;
    border-right-width: thin;
    border-left: #E8E3E2;
    border-left-style: outset;
    border-left-width: thin;
}

.LB{
    color: #bdbdbd;
    font-family: "sans-serif";
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.50rem;
}

.contras{
    color: #00c4c0;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    text-transform: uppercase;
    margin-top: 10rem ;
    padding-left: 2rem;
    padding-right: 8rem;

    position: relative;
    bottom: 4rem;
}

.Nommbre__John{
    float: right;
    margin-right: 8rem;
    margin-top: 8rem;
}

.John{
    color: #00a09b;
    font-family: "sans-serif";
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    padding-right: 1rem;
}

/* Nav Bar*/

/*BODY*/
h2{
    padding-bottom: -30px;
    font-family: sans-serif;
    color: #E8E3E2;
    font-size: small;
    padding-left: 20px;
    padding-top: 35px;
}


.Grados{
    background-color: white;
    width: 240px;
    height: 370px;
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 80px;

}

.grados__text{
    width: 190px;
    height: 270px;
    padding-bottom: 80px;
    border-bottom: 0.5rem solid gainsboro;

}

.grados__text ul li{
    display: block;
    font-family: sans-serif;
    font-size: medium;
    padding-top: 25px;
    padding-left: 10px;

}


.agregar__text{
    font-family: sans-serif;
    font-size: small;
    padding-left: 15px;
    height: 100px;
    width: 230px;


}
.cajita{
    padding-top: 2rem;
    padding-bottom: 50rem;
}

.agregar__bptpm{
    background-color: #008CBA;
    font-size: 24px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 860rem;
    padding: 5px 12px;

}
.input__box_{
    border-radius: 150rem;
    text-align: center;
    background-color: #E8E3E2;

}

.both__buttons{
    border-bottom: 1px solid gainsboro;
    margin-left: 85rem;
    margin-top: -110rem;
    width: 235rem;
    height: 20rem;
}

.right__buttons{
    display: inline-block;
    width: 100rem;
    height: 19rem;
    float: right;
    margin-right: 10rem;
    padding-left: 25rem;
    padding-top: 1rem;
}

.green__button{
    background-color: #4CAF50;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 12px;
    float: right;
}

.blue__button{
    background-color: #008CBA;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 12px;
    float: left;
}

.Primero__Label{
    width: 60rem;
    height: 15rem;
}
.primero__Text{
    height: inherit;
    width: inherit;
    padding-left: 8rem;
    padding-top: 1rem;

}
h1{
    color: #00a09b;
    font-family: sans-serif;
    font-size: 8rem;
}

.languages{

    border-bottom: 0.5rem solid gainsboro;
    width: 235rem;
    height: 10rem;
    margin-left: 85rem;
}

.select__languages{
    width: 75rem;
    height: 10rem;
    font-size: medium;
}

.select__languages li{
    float: left;
}

.select__languages ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.select__languages .esp{
    display: block;
    color:  #00a09b;;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.select__languages .eng{
    display: block;
    color:  gray;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/*---------------------------------BOOK STUFF------------------------------------------------------------*/
.book {

    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
    margin-left: 90rem;
    margin-top: 10rem;
    position: absolute;
}

.book2 {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
    margin-left: 150rem;
    margin-top: 10rem;
    position: absolute;
}

.book3 {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
    margin-left: 210rem;
    margin-top: 10rem;
    position: absolute;
}

.book4 {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
    margin-left: 270rem;
    margin-top: 10rem;
    position: absolute;
}


.book__image {
    background-position: center;;
    background-size: cover;
    height: 70rem
}

.book__footer {
    background: white;
    padding: 16px;
    position: relative;
}

.book__title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
}

.book__size {
    color: #777777;
    font-size: 3rem;
}

.book__actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}

.pencil{
    height:8rem;
    width:8rem;
    margin-left: 70rem;
    margin-top: -25rem;
}

.trash1{
    height:8rem;
    width:8rem;
    margin-left: 80rem;
    margin-top: -50rem;
}